* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #fff;
  display: inline-block;
  transition-duration: 0.2s;
  cursor: pointer;
  text-decoration: none;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 400;
  background-color: #121118;
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 59px;
  line-height: 0.8;
  text-transform: capitalize;
  padding: 96px 242px 44px 242px;
  text-align: center;
}

:root {
  --main-color: fff;
  --main-gray-color: rgba(255, 255, 255, 0.5);
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

.section_container {
  margin: 180px auto;
  width: 100%;
  max-width: 1383px;
  padding: 0px 24px;
  /* display: flex; */
}

header {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

header img {
  padding: 34px 64px 32px 40px;
}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
  padding-right: 553px;
}

header a {
  display: flex;
  color: #121118;
  font-size: 16px;
  align-items: center;
  padding-right: 50px;
}

.header_menu a {
  color: #121118;
}

.grey_text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 26px;
}

.text_centre {
  text-align: center;
}

.btn_top {
  margin: 73px auto 0;
  background-color: #ff4343;
  color: #fff;
  padding: 24px 86px 24px 86px;
  border-radius: 8px;
  display: flex;
}

.text_undertopbtn {
  font-size: 14px;
  text-align: center;
  padding-top: 19px;
}

.main_photo_section {
  margin-top: 61px;
}

.mainimgone {
  margin: 0 auto;
  display: flex;
  position: relative;
}

.mainimgtwo {
  position: absolute;
  top: 594px;
  left: 1128px;
}

.main_textImg_container {
  display: flex;
  gap: 50px;
  margin-top: 58px;
  margin-bottom: 180px;
}

.h2_main_section {
  font-size: 68px;
  font-weight: 400;
  padding: 210px 58px 38px 0;
}

.behind {
  position: absolute;
  right: 100px;
  top: 10px;
  z-index: -2;
}

.shootLessonsPhoto_container {
  position: relative;
}

.shootLessonsText_container {
  padding: 0 326px 0 0;
}

.shootLessonsText_container p {
  width: 439px;
}

.flex {
  display: flex;
}

.enrich_photo {
  margin-right: 50px;
}
.enrich_section {
  position: relative;
}

.erich_photo2 {
  position: absolute;
  top: 0;
  left: 292px;
  z-index: -2;
}

.enrich_text {
  display: flex;
  width: 645px;
  padding: 0px 71px 0px 50px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 38px;
}

.text_grey {
  color: var(--main-gray-color);
  font-weight: 100;
  font-size: 27px;
}
.interactive_text {
  display: flex;
  width: 618.984px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 38px;
  margin-right: 90px;
}
